/**-----STYLE-BOUTONS-----*/


#buttonPostit {
   -fx-background-color: #FFFAFA;
   -fx-text-fill: #585858	;
}

#vboxPostit {
   -fx-background-color: #FFFAFA;
}

#LabelPostit {
   -fx-background-color: #FFFAFA;
   -fx-text-fill: #585858;
}

#postit_Not_Selected{
    -fx-background-color:
               linear-gradient(#00bfff ,#00bfff),
               radial-gradient(center 50% -40%, radius 200%, #00bfff 45%, #00bfff 50%);
               -fx-background-radius: 6, 5;
               -fx-background-insets: 0, 1;
               -fx-effect: dropshadow( three-pass-box , black	, 20, 0.3 , 0 , 1 );
               -fx-text-fill: #25e0f0;
               -fx-font-weight: normal;
}

#postit_Selected{
    -fx-background-color:
               linear-gradient(#00bfff ,#00bfff),
               radial-gradient(center 50% -40%, radius 200%, #00bfff 45%, #00bfff 50%);
               -fx-background-radius: 6, 5;
               -fx-background-insets: 0, 1;
               -fx-effect: dropshadow( three-pass-box , #B22222 , 20, 0.3 , 0 , 1 );
               -fx-text-fill: #25e0f0;
               -fx-font-weight: bold;
}