/**-----STYLE-BOUTONS-----*/

.menu .label{
    -fx-text-fill: #dedede;
}

.menu-item .label{
    -fx-text-fill: black;
}


#buttonPostit {
   -fx-background-color: #3c3f41;
   -fx-text-fill: #dedede;
}

#vboxPostit {
   -fx-background-color: #3c3f41;
}

#LabelPostit {
   -fx-background-color: #3c3f41;
   -fx-text-fill: #dedede;
}

#postit_Not_Selected{
    -fx-background-color:
               linear-gradient(#3c3f41 ,#3c3f41),
               radial-gradient(center 50% -40%, radius 200%, #3c3f41 45%, #3c3f41 50%);
               -fx-background-radius: 6, 5;
               -fx-background-insets: 0, 1;
               -fx-effect: dropshadow( three-pass-box , black	, 20, 0.3 , 0 , 1 );
               -fx-text-fill: white;
               -fx-font-weight: normal;
}

#postit_Selected{
    -fx-background-color:
               linear-gradient(#3c3f41 ,#3c3f41),
               radial-gradient(center 50% -40%, radius 200%, #3c3f41 45%, #3c3f41 50%);
               -fx-background-radius: 6, 5;
               -fx-background-insets: 0, 1;
               -fx-effect: dropshadow( three-pass-box , #B22222 , 20, 0.3 , 0 , 1 );
               -fx-text-fill: white;
               -fx-font-weight: bold;
}